version: "3.9"
services:
  codecoverage:
    build:
      context: ../../../
      dockerfile: installers/docker/local_code_coverage/Dockerfile
      args:
        - USER=pyrsiaapp
        - USER_GRP=pyrsiagrp
    entrypoint: "installers/docker/local_code_coverage/entrypoint.sh"
    container_name: pyrsia_code_coverage
    security_opt:
      - seccomp=unconfined
    volumes:
      - ../../../tests/reports/code-coverage-data:/home/pyrsiaapp/pyrsia/code-coverage-data
volumes:
  code-coverage-data:
    name: code-coverage-data
