[package]
name = "pyrsia_node"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pyrsia = { path = ".." }
signed_struct = { path = "../src/signed_struct" } # Explict dep for proc-macro, see https://github.com/pyrsia/pyrsia/issues/110

clap = { version = "3.1.3", features= ["cargo"] }
log = "0.4.14"
pretty_env_logger = "0.4.0"
test-log = "0.2.8"
tokio = { version = "1", features = [ "macros", "rt-multi-thread", "io-std" ] }
warp = { version = "0.3.1", default-features = false }
futures = "0.3.19"
libp2p = { version = "0.41.1", features=["tcp-tokio"]}
