---

dnsname: pyrsia.link

replicaCount: 1

image:
  repository: pyrsiaoss/pyrsia-node
  tag: 0.1.0-2305
  pullPolicy: Always

p2pkeys:
  kms_key_id: ""

k8s_provider: gke # "gke, oke, aks, eks"

external_dns_ns: "external-dns"
