[workspace]

members = [
    "pyrsia_node",
    "pyrsia_cli",
    "pyrsia-client-lib",
    "pyrsia-client-lib/signed_struct",
    "pyrsia-client-lib/signed_struct_test"
]

[profile.dev]
opt-level = 0
debug = true
debug-assertions = true
overflow-checks = true
lto = false
panic = 'unwind'
incremental = true
codegen-units = 256
rpath = false

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false
