[package]
name = "pyrsia_cli"
version = "0.1.0"
description = "Zero-Trust Decentralized Package Network"
edition = "2021"

[dependencies]
pyrsia = {path=".."}

anyhow = "1.0"
clap = { version = "3.1.3", features= ["cargo"] }
futures = { version = "0.3.*"}
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = [ "full"] }
walkdir = "2.3.2"

[[bin]]
name = "pyrsia"
path = "src/main.rs"

[dev-dependencies]
expectest = "0.10.0"
