[package]
name = "pyrsia_cli"
version = "0.1.1"
build = "build.rs"
description = "Zero-Trust Decentralized Package Network"
edition = "2021"

[dependencies]
pyrsia = {path=".."}
anyhow = "1.0"
clap = { version = "3.1.12", features= ["cargo"] }
confy = "0.4.0"
const_format = "0.2.22"
futures = { version = "0.3.*"}
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = [ "full"] }
walkdir = "2.3.2"

[[bin]]
name = "pyrsia"
path = "src/main.rs"

[dev-dependencies]
assay = "0.1.1"

[build-dependencies]
anyhow = "1.0"
vergen = "7.0.0"
