[package]
name = "pyrsia_cli"
version = "0.1.0"
description = "Zero-Trust Decentralized Package Network"
edition = "2021"

[dependencies]
pyrsia = {path=".."}
anyhow = "1.0"
clap = { version = "3.1.6", features= ["cargo"] }
confy = "0.4.0"
futures = { version = "0.3.*"}
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.5.8"
tokio = { version = "1", features = [ "full"] }
walkdir = "2.3.2"

[[bin]]
name = "pyrsia"
path = "src/main.rs"

[dev-dependencies]
directories = "^2.0"
assay = "0.1.1"


