---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "pyrsia-node.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  updateStrategy:
    type: RollingUpdate
  serviceName: {{ include "pyrsia-node.name" . }}
  selector:
    matchLabels:
      app:  {{ include "pyrsia-node.name" . }}
      tier: frontend
      track: stable
  template:
    metadata:
      labels:
        app: {{ include "pyrsia-node.name" . }}
        tier: frontend
        track: stable
    spec:
      serviceAccount: {{ printf "%s-service-reader" (include "pyrsia-node.name" .) }}
      containers:
        - name: {{ include "pyrsia-node.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}        
          ports:
            - name: pyrsia
              containerPort: 80
            - name: p2p
              containerPort: 44000
          env:
            - name: PYRSIA_ARTIFACT_PATH
              value: "/usr/local/var/pyrsia"
            - name: PYRSIA_KEYPAIR
              value: /usr/local/var/pyrsia-p2p-keys/ed25519.ser
            - name: PYRSIA_BOOTDNS
              value: {{ printf "%s-0.%s" (include "pyrsia-node.name" .) (.Values.bootdns | default "pyrsia.link") }}   
          volumeMounts:
            # name must match the volume name below
            - name: pyrsia-storage
              mountPath: "/usr/local/var/pyrsia"
            - name: pyrsia-p2p-keys
              mountPath: /usr/local/var/pyrsia-p2p-keys
  volumeClaimTemplates:
  - metadata:
      name: pyrsia-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1500Gi
  - metadata:
      name: pyrsia-p2p-keys
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
      storageClassName: pyrsia-csi              
