---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: {{  .Values.external_dns_ns | default "external-dns" }}
  labels:
    app.kubernetes.io/name: external-dns
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-dns
  labels:
    app.kubernetes.io/name: external-dns
rules:
  - apiGroups: [""]
    resources: ["services","endpoints","pods","nodes"]
    verbs: ["get","watch","list"]
  - apiGroups: ["extensions","networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get","watch","list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: external-dns-viewer
  labels:
    app.kubernetes.io/name: external-dns
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
  - kind: ServiceAccount
    name: external-dns
    namespace: {{ .Values.external_dns_ns | default "external-dns"  }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: {{ .Values.external_dns_ns | default "external-dns"  }}  
  labels:
    app.kubernetes.io/name: external-dns  
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: external-dns
  template:
    metadata:
      labels:
        app.kubernetes.io/name: external-dns
    spec:
      serviceAccountName: external-dns
      {{- $hldomain := "pyrsia.link" -}}
      {{ if .Values.dnsname }}
        {{- $hldomain = (join "." (reverse (slice (reverse (splitList "." .Values.dnsname)) 0 2 ))) -}}       
      {{ end }}
      containers:
        - name: external-dns
          image: k8s.gcr.io/external-dns/external-dns:v0.11.0
          {{- if eq .Values.k8s_provider "gke" }}
          args:
            - --source=service
            - --source=ingress
            - --domain-filter={{ $hldomain }} 
            - --provider=google
            - --log-format=json # google cloud logs parses severity of the "text" log format incorrectly
            - --google-zone-visibility=public # Use this to filter to only zones with this visibility. Set to either 'public' or 'private'. Omitting will match public and private zones
            - --policy=upsert-only # would prevent ExternalDNS from deleting any records, omit to enable full synchronization
            - --registry=txt
            - --txt-owner-id=pyrsia-node
          {{- end }}
          {{- if eq .Values.k8s_provider "eks" }}
          args:
            - --source=service
            - --source=ingress
            - --domain-filter={{ $hldomain }}
            - --provider=aws
            - --policy=upsert-only
            - --aws-zone-type=public
            - --registry=txt
            - --txt-owner-id=pyrsia-node
          env:
            - name: AWS_DEFAULT_REGION
              value: us-east-1          
          {{- end }}
