[Unit]
Description=Pyrsia Node

[Service]
WorkingDirectory=/usr/local/var
Environment="PYRSIA_ARTIFACT_PATH=/usr/local/var/pyrsia"
Environment="RUST_LOG=debug"
ExecStart=/usr/bin/pyrsia_node

[Install]
WantedBy=multi-user.target

