name: Project Board Automation - Pyrsia Development

on:
  issues:
    types: [opened, reopened, labeled]
  pull_request_target:
    types: [opened, closed, reopened, labeled, converted_to_draft, ready_for_review, review_requested]

jobs:
  triage-new-issues:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'issues' &&
      (github.event.action == 'opened' || github.event.action == 'reopened')
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: triage
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Pyrsia Development
          action: add
          column: MVP
          repo-token: ${{ secrets.ORG_ACCESS_TOKEN }}

  in-progress-new-prs:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'pull_request_target' &&
      (github.event.action == 'opened' || github.event.action == 'reopened')
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Pyrsia Development
          column: In Progress
          repo-token: ${{ secrets.ORG_ACCESS_TOKEN }}
      - if: github.event.pull_request.user.login == 'dependabot[bot]'
        uses: actions/github-script@v6.1.0
        with:
          github-token: ${{ secrets.ORG_ACCESS_TOKEN }}
          script: |
            github.rest.pulls.requestReviewers({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.number,
              team_reviewers: ["pyrsia/collaborators"],
            });
    
  drafting-pr:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'pull_request_target' && github.event.action == 'converted_to_draft'
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Pyrsia Development
          column: In Progress
          repo-token: ${{ secrets.ORG_ACCESS_TOKEN }}

  pr-request-review:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'pull_request_target' &&
      (github.event.action == 'ready_for_review' || github.event.action == 'review_requested')
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: in-review

  label-blocked:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      (github.event_name == 'issues' ||  github.event_name == 'pull_request_target') &&
      github.event.action == 'labeled' && github.event.label.name == 'blocked'
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Pyrsia Development
          column: Blocked
          repo-token: ${{ secrets.ORG_ACCESS_TOKEN }}

  assign-author:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'pull_request_target' &&
      (github.event.action == 'opened'  || github.event.action == 'reopened' || github.event.action == 'ready_for_review')
    steps:
      - uses: toshimaru/auto-author-assign@v1.5.0

  rm-closed-pr:
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'pyrsia' &&
      github.event_name == 'pull_request_target' && github.event.action == 'closed'
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Pyrsia Development
          action: delete
          column: To do
          repo-token: ${{ secrets.ORG_ACCESS_TOKEN }}
