name: Rust

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  check-workspace:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - run: cargo check --workspace --verbose --release

  check-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - run: cargo check --tests --verbose

  build:
    needs: [check-workspace, check-tests]
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [macos-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install openssl on macOS
      if: runner.os == 'macOS'
      run: |
        brew install openssl

    # Install cargo deb and strip
    - name: Install cargo-deb cargo-strip
      if: runner.os == 'Linux'
      uses: actions-rs/cargo@v1.0.3
      with:
        command: install
        args: cargo-deb cargo-strip --force

    # Need to add build number to version number
    - name: Add Build to Version Number
      run: |
        sed -i.bak "/^version = \"0.1.0\"/s/\"\$/+${{ github.run_number }}\"/" Cargo.toml

    - name: Build Release Binaries
      run: |
        cargo build --workspace --verbose --all-targets --release

    - name: Execute Test Cases
      run: |
        cargo test --workspace --verbose

    - name: Strip Binaries
      if: runner.os == 'Linux'
      run: |
        cargo strip

    # Create Pyrsia .deb file
    - name: Package Pyrsia as deb file
      if: runner.os == 'Linux'
      uses: actions-rs/cargo@v1.0.3
      with:
        command: deb
        args: --no-build -v

    # Add the prysia .deb file to the apt repo which is part of
    # the github website repo
    - name: Upload Pyrsia .deb to website repo
      uses: sbtaylor15/apt-repo-action@v2.0.4
      # Only when we push on the main repository should we upload the results
      if: github.repository_owner == 'pyrsia' && github.event_name == 'push' && runner.os == 'Linux'
      with:
        github_token: ${{ secrets.APT }}
        repo_supported_version: |
          focal
        repo_supported_arch: |
          amd64
        page_branch: gh-pages
        file: /github/workspace/target/debian/pyrsia_0.1.0+${{ github.run_number }}_amd64.deb
        file_target_version: focal
        public_key: ${{ secrets.GPG_PUBLIC }}
        private_key: ${{ secrets.GPG_PRIVATE }}
        key_passphrase: ${{ secrets.GPG_SECRET }}
        github_repository: pyrsia/pyrsia.github.io

  coverage:
    needs: [check-tests]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Run cargo-tarpaulin
      uses: actions-rs/tarpaulin@v0.1
      with:
        args: '-- --test-threads 1'

    - name: Upload to codecov.io
      uses: codecov/codecov-action@v2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        fail_ci_if_error: ${{ github.repository_owner == 'pyrsia' }}

  docker:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.repository_owner == 'pyrsia' && github.event_name == 'push'
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and Push Docker Image for Pyrsia Node
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        file: installers/docker/AptGet.Dockerfile
        tags: pyrsiaoss/pyrsia-node:latest

    - name: Only build if CodeCoverage.Dockerfile changed
      uses: tj-actions/changed-files@v18.5
      id: changed-files

    - name: Build and Push Code Coverage Base Image
      if: contains(steps.changed-files.outputs.all_changed_and_modified_files, 'CodeCoverage.Dockerfile')
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        file: installers/docker/CodeCoverage.Dockerfile
        tags: pyrsiaoss/codecoverage:1.0
