name: Rust Linting 
on:
  pull_request:
    paths: # Make sure to keep sync'd https://github.com/pyrsia/pyrsia/blob/main/.github/workflows/rust-lint-skipped.yml#L8
      - .github/workflows/rust-lint.yml
      - .github/workflows/.cargo/audit.toml
      - '**/*.rs'
      - '**/Cargo.toml'
      - Cargo.lock

jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pyrsia/rust-toolchain@v1      
      - run: mkdir -p $HOME/.cargo
      - run: cp .github/workflows/.cargo/audit.toml $HOME/.cargo
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pyrsia/rust-toolchain@v1 
        with:
          components: rustfmt  
      - run: cargo fmt --version
      - run: cargo fmt -- --check # Prints diff in the action logs

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pyrsia/rust-toolchain@v1 
        with:
          components: clippy                    
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- --deny warnings

  license-header:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: viperproject/check-license-header@v1
        with:
          path: .
          config: .github/license-check/config.json

  inclusive-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Woke for Inclusive Linting
        run: |
            curl -sSfL https://git.io/getwoke | bash -s --
            bin/woke --exit-1-on-failure
        shell: bash
